/BANSpEmo A Bangla Language Emotional Speech Recognition Dataset
/COMBINED
/New folder
/RAVDESS
/SUBESCO
/t9h6p943xy-5
/BanglaSER.zip
/BANSpEmo A Bangla Language Emotional Speech Recognition Dataset.zip
/COMBINED-20230925T061248Z-001.zip
/COMBINED-20230925T061248Z-002.zip
/RAVDESS.zip
/SUBESCO.zip
/COMBINED_MFCC_90
/MFCC
/Test_Models
/BANGLA_SER.npy
/IEMOCAP.zip
/IEMOCAP_full_release
trans_with_4.csv
/SER_WAV_DATA
/COMBINED_NEW_MFCC_90
cuda-repo-wsl-ubuntu-11-8-local_11.8.0-1_amd64.deb
SUBESCO_MFCC_133
sound recordings